{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/b-detail.css' %}"
/> 
{% endblock %}

{% block bg %}
<body>
{% endblock %}

{% block content %}

<div class="container-lg py-3">
<div class="row">
<div class="col my-4">
<h1>My Profile</h1>
<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
<p>{{ user.username }}</p>
<p class="text-muted mb-0" style="font-size: 12px">Email:</p>
<p>{{ user.email }} </p>
<p class="text-muted mb-0" style="font-size: 12px">Fund:</p>
<p class='d-inline'>{{ user.profile.fund }} </p>
<button type="button" class="btn btn-info d-inline" data-bs-toggle="modal" data-bs-target="#addFundModal">
  +
</button>

<div class="modal fade" id="addFundModal"  data-bs-keyboard="true" tabindex="-1" aria-labelledby="addFundModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Fund</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'profiles_update' user.profile.id %}" method="post" class="form-container">
      <div class="modal-body">
        {% csrf_token %}
        <table class='table table-borderless'>
        {{ profile_form.as_table }}
        </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-secondary m-2">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>

<p class="text-muted mb-0" style="font-size: 12px">Role:</p>
<p>{{ user.profile.get_role_display }} </p>
<h3 class="text mb-1" >Upcoming Reservations:</h3>
{% if user_current_reservations.count %}
  {% for r in user_current_reservations %}
    <a  href="{% url 'reservations_detail' r.id %}">
          <p class='d-block mx-3'> {{r}} </p>
              </a>
  {% endfor %}
{% else %}
  <p class=""> You doesn't have any current reservations </p>
{% endif %}
<h3 class="text mb-1" >Past Reservations:</h3>
{% if user_past_reservations.count %}
  {% for r in user_past_reservations %}
    <a  href="{% url 'reservations_detail' r.id %}">
          <p class='d-inline mx-3'> /{{r}} /</p>
              </a>
  {% endfor %}
{% else %}
  <p class=""> You doesn't have any previous reservations </p>
{% endif %}
</div>

<div class="col my-4">
  <h2>Current Reservations</h2>
  <p>Week {{calendar_week.wk_num}} of {{calendar_week.yr}}</p>
  <p>{{calendar_week.week_day}} {{calendar_week.month}}  {{calendar_week.date}}</p>
<table class="table table-sm table-bordered table-hover">
  <thead>
  <tr>
  <th scope="col">Times</th>
  {% for d in calendar_week.return_weekarr %}
  <th scope="col" >{{d}}</th>

  {% endfor %}
  </tr>
  </thead>
  <tbody>

{% for row in user.profile.get_current_reservation_table %}
    </tr>
    {% for item in row %}
      {% if item == ' ' %}
      <td style="width: 6vw">{{item}} </td>
      {% elif item.time %}
      <td style="width: 6vw"><a  href="{% url 'reservations_detail' item.id %}">Reserved {{item.board.name}} </a></td>
      {% else %}
      <th scope="row" style="width: 6vw">{{item}}</th>
      {% endif  %}
    {% endfor %}
    </tr>
  {% endfor %}

  </tbody>
  </table>

</div>
</div>

</div>



{% endblock %}