{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-style.css' %}"/>
{% endblock %}

{% block bg %}
<body class='seabg'>
{% endblock %}

{% block content %}

<div class="container-lg py-3">
<div class="page-header">
{% if object %}
    <h1 class='t-text d-inline'>Edit {{object.name}}</h1>
  {% else %}
  <h1 class='t-text d-inline'>Add a Board</h1>
  {% endif %}
  <img src="{% static 'images/surf/Surfb_L_3.png' %}" alt="board" class='img-wrapper d-inline'/>
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table class='table'>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn btn-outline-info m-2">Submit</button>
</form>
</div>

{% endblock %}