{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-style.css' %}"/>
{% endblock %}

{% block bg %}
<body>
{% endblock %}

{% block content %}

<div class="container-lg py-3">
<div class="page-header">
    <h1>Add Fund</h1>
  <img src="{% static 'images/surf/Surf_logo.png' %}" alt="Summer" class='img-wrapper'/>
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table class='table table-borderless'>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn btn-outline-secondary m-2">Submit</button>
</form>
</div>

{% endblock %}