{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/b-detail.css' %}"
/> 
<script defer src="{% static 'js/board-detail.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-lg py-3">
<div class="row">
<div class="col">
<section class="board-container">
  <div class="board-img">
  {% if board.photo.url %}
      <img 
        src="{{board.photo.url}}" 
        alt="A photo of {{board.name}}"
        class="board-img"
      >
    {% else %}
    <img 
      class="board-img"
      src="{% static 'images/SUMMER-HOLIDAY/SUMMER HOLIDAY_11.png' %}" 
      alt="A skater boy board"
    >
    {% endif %}
  </div>
  <div class="board-details">
    <h1 style="color: {{ board.color }}">{{ board.name }}</h1>
    <p>Length: {{ board.length }}ft</p>
        <p>Type: {{ board.get_type_display }}</p>
        <p>Color: {{ board.color }}</p>
        <p>Price: ${{ board.price }}</p>
        <p>Owner: {{ board.user }}</p>
    <p>{{ board.description }}</p>
    <div class="board-actions">
      <a href="{% url 'boards_update' board.id %}" class="btn btn-outline-success">Edit</a>
      <a href="{% url 'boards_delete' board.id %}" class="btn btn-outline-danger">Delete</a>
    </div>
    <h5 class='my-3'>Change {{ board.name }}'s photo</h5>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' board.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn btn-outline-success">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn btn-outline-success">Upload Photo</button>
    </form>
  </div>
  </section>
    </div>

  <div class="col my-4">
  <h2>Current Reservations</h2>
  <p>Week {{calendar_week.wk_num}} of {{calendar_week.yr}}</p>
  <p>{{calendar_week.week_day}} {{calendar_week.month}}  {{calendar_week.date}}</p>

  <table class="table table-borderless">
  <thead>
  <tr>
  <th scope="col">Times</th>
  {% for d in calendar_week.return_weekarr %}
  <th scope="col">{{d}}</th>
  {% endfor %}
  </tr>
  </thead>
  <tbody>
    <tr>
    <th scope="row">5:00-6:45</th>
    </tr>
    <th scope="row">7:00-8:45</th>
    </tr>
    <th scope="row">9:00-10:45</th>
    </tr>
    <th scope="row">11:00-12:45</th>
    </tr>
    <th scope="row">13:00-14:45</th>
    </tr>
    <th scope="row">15:00-16:45</th>
    </tr>
    <th scope="row">17:00-18:45</th>
    </tr>
    <th scope="row">19:00-20:45</th>
    </tr>
    <th scope="row">21:00-22:45</th>
    </tr>
  {% for r in board.get_board_current_reservations %}
  <a  href="{% url 'reservations_detail' r.id %}">
        <p class='d-inline mx-3'> /{{r}} /</p>
            </a>
  {% endfor %}
  </table>
  <h2>Add Reservations</h2>
  <form
      action="{% url 'add_reservation' board.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ reservation_form.as_p }}
      <button type="submit" class="btn btn-outline-secondary">Reserve</button>
    </form>
      </div>


</section>
</div>
</div>

{% endblock %}