{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/b-detail.css' %}"
/> 
<script defer src="{% static 'js/board-detail.js' %}"></script>
{% endblock %}

{% block bg %}
<body class='seabg'>
{% endblock %}

{% block content %}

<div class="container-lg py-3">
<div class="row">
<div class="col">
<section class="board-container">
  <div class="board-img">
  {% if board.photo.url %}
      <img 
        src="{{board.photo.url}}" 
        alt="A photo of {{board.name}}"
        class="board-img"
      >
    {% elif board.type == 'S' %}
      <img src="{% static 'images/surf/Surfb_L_3.png' %}" class="board-img-rotate" alt="board">
    {% else %}
    <img 
      class="board-img-rotate"
      src="{% static 'images/surf/Surfb_S_2.png' %}" 
      alt="A board"
    >
    {% endif %}
  </div>
  <div class="board-details">
    <h1 class='t-text' style="color: {{ board.color }}">{{ board.name }}</h1>
      <p class='mx-2'>Length: {{ board.length }}ft</p>
      <p class='mx-2'>Type: {{ board.get_type_display }}</p>
      <p class='mx-2'>Color: {{ board.color }}</p>
      <p class='mx-2'>Price: ${{ board.price }}</p>
      <p class='mx-2'>Owner: {{ board.user }}</p>
      <p class='mx-2'>{{ board.description }}</p>
    <div class="board-actions">
      <a href="{% url 'boards_update' board.id %}" class="btn btn-outline-info">Edit</a>
      <a href="{% url 'boards_delete' board.id %}" class="btn btn-outline-danger">Delete</a>
    </div>
    <h5 class='my-3'>Change {{ board.name }}'s photo</h5>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' board.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn btn-outline-info">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn btn-outline-info">Upload Photo</button>
    </form>
  </div>
  </section>
    </div>

  <div class="col my-4">
  <h2 class='text-center t-text' >Current Reservations</h2>
  <p class='text-center mb-0 t-text'>Week {{calendar_week.wk_num}} of {{calendar_week.yr}}</p>
  <p class='text-center t-text'>{{calendar_week.week_day}}. {{calendar_week.month}}  {{calendar_week.date}}</p>
<table class="table table-sm table-bordered table-hover">
  <thead>
  <tr>
  <th scope="col">Times</th>
  {% for d in calendar_week.return_weekarr %}
  <th scope="col" >{{d}}</th>

  {% endfor %}
  </tr>
  </thead>
  <tbody>
{% for row in board.get_current_reservation_table %}
    </tr>
    {% for item in row %}
        {% if item == ' ' %}
    <td style="width: 6vw">{{item}} </td>
        {% elif item.time and item.user != user %}
    <td style="width: 6vw; background: #a8eaf3;">Reserved by {{item.user}} </td>
        {% elif item.time %}
    <td style="width: 6vw; background: #30426c;"><a  href="{% url 'reservations_detail' item.id %}" class='my-reservation' > Reserved by {{item.user}}</a></td>
        {% else %}
    <th scope="row" style="width: 6vw">{{item}}</th>
        {% endif  %}

    {% endfor %}
    </tr>
  {% endfor %}

  </tbody>
  </table>

<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addReservModal">
  + Reserve {{board.name}}
</button>

<div class="modal fade" id="addReservModal"  data-bs-keyboard="true" tabindex="-1" aria-labelledby="addFundModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Reservation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form
      action="{% url 'add_reservation' board.id %}"
      method="post" 
      class="form-container"
    >
      <div class="modal-body">
        {% csrf_token %}
        <table class='table table-borderless'>
        {{ reservation_form.as_table }}
        </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-info m-2">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>



</section>
</div>
</div>

{% endblock %}