{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/b-index.css' %}"/>
{% endblock %}

{% block bg %}
<body class='seabg'>
{% endblock %}

{% block content %}
<div class="bg">
<div class="container-lg py-3">
<section class="page-header">
  <h1 class='t-text'>All Boards</h1>
</section>

<section class="card-container">
<div class="row">

  {% for board in boards %}
  <div class="col-md-4">
    <div class="card py-3 mx-auto my-3">
    <div class="card-head">
    {% if board.photo.url %}
              <img 
                src="{{board.photo.url}}" 
                alt="A photo of {{board.name}}"
                class="card-img-top"
              >
    {% elif board.type == 'S' %}
        <img src="{% static 'images/surf/Surfb_L_0.png' %}" class="card-img-top" alt="board">
    {% else %}
        <img src="{% static 'images/surf/Surfb_S_0.png' %}" class="card-img-top" alt="board">
      {% endif %}
        <div class="card-body text-center m-2">
        <h3 class="t-text" style="color: {{ board.color }}">{{ board.name }}</h3>
        <div class="hide m-3">
          <p>Length: {{ board.length }}ft</p>
          <p>Type: {{ board.get_type_display }}</p>
          <p>Color: {{ board.color }}</p>
          <p>Price: ${{ board.price }}</p>
      <a class='btn btn-outline-info' href="{% url 'boards_detail' board.id %}" 
      >Details
      </a>
        </div>
    </div>
      </div>
      </div>
    </div>
  {% endfor %}
</div>
</section>
</div>


{% endblock %}