{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home-style.css' %}"/>
{% endblock %}

{% block content %}
<div class="row">
  {% if not user.is_authenticated %}
  <div class="h-80 col-md-4 position-relative">
  <section class="position-absolute top-50 start-50 translate-middle">
  <div class="d-flex m-auto">
  <form action="{% url 'home' %}" method="post" class="login">
    <h1 class="my-4">Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn btn-outline-success">Login</button>
  </form>
  </div>
  </section>
  </div>
<div class="col-sm-auto col-md-8">
{% endif %}
  <div class="img-fluid position-relative">
    {% comment %} <img src="{% static 'images/bg.jpg' %}" alt="The Plant Collector Plant" class="img-fluid"/> {% endcomment %}
  </div>
  {% if not user.is_authenticated %}
  </div>
  {% endif %}
  </div>

{% endblock %}