{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home-style.css' %}"/>
{% endblock %}

{% block bg %}
<body class="beachbg">
{% endblock %}


{% block content %}
<div class="row">
  {% if not user.is_authenticated %}
  <div class="h-80 position-relative">
  <section class="position-absolute top-50 start-50 translate-middle">
  <div class="d-flex m-auto">
  <form action="{% url 'home' %}" method="post" class="login">
    <h1 class="my-4 t-text text-center">Welcome!</h1>
    {% csrf_token %}
    <table class='table table-borderless'>
    {{ form.as_table }}
    </table>
    <input type="hidden" name="next" value="{{ next }}">
    <div class="d-grid d-flex justify-content-center">
    <button type="submit" class="btn btn-outline-info my-3">Login</button>
    </div>
  </form>
  </div>
  </section>
  </div>
{% endif %}
  </div>

{% endblock %}