{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-style.css' %}"/>
{% endblock %}

{% block bg %}
<body class="beachbg">
{% endblock %}

{% block content %}

<div class="container py-3 page-bg">
<div class=" ">
  <h1 class="t-text">Sign Up</h1>
</div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table class="m-3 table">
    {{ form.as_table }}
  </table>
  <p>Already have an account? <a href='/' class='btn btn-outline-info btn-sm'>LOGIN</a> here</p>
  <div class="d-grid d-flex justify-content-end">

  <button type="submit" class="btn btn-outline-info mb-3">Submit</button>
  </div>
</form>
</div>

{% endblock %}