.board-img{
    width:15vw;
}
.board-img-rotate{
  height:20vw;
  transform: rotate(25deg);
}
  
  .board-details h3 {
    margin: 16px 0 10px 0;
  }
  
  #file-input {
    overflow: hidden;
    position: absolute;
    width: .1px;
    height: .1px;
  }
  
  #file-name {
    margin-bottom: 10px;
  }

.table{
  background-color: rgb(225, 225, 225,.1);
  text-align: center;
}

.mc-calendar{
  z-index: 2000;
}