.board-img{
    width:20vw;
}
  
  .board-details h3 {
    margin: 16px 0 10px 0;
  }
  
  #file-input {
    overflow: hidden;
    position: absolute;
    width: .1px;
    height: .1px;
  }
  
  #file-name {
    margin-bottom: 10px;
  }