
#navbar{
    background-color: transparent;
}

.navbar-brand, .nav-link{
    color: #f8fff3;
    font-family: 'Cabin Sketch', cursive;
    font-size: 18px;
    transition: transform .1s ease-in-out;
}
.navbar-brand{
    font-size: 25px;
}

.outlined-link{
    border: white 1px solid;
    border-radius: 10px;
    font-size: 17px;
}

.navbar-brand:hover, .nav-link:hover{
    color: #f8fff3;
    transform: rotate(3deg);
}

.outlined-link:hover{
    border: white 1px solid;
    border-radius: 10px;
    color: #96deee;
    background-color: white;
}

.navbar-toggler{
    padding: 0;
}
.navbar-toggler-icon{
    background-image: url('/static/images/SUMMER-HOLIDAY/SUMMER HOLIDAY_5.png');
    border: #96deee solid 1px;
    border-radius: 20%;
    padding: 10px;
}

.t-text{
    font-family: 'Cabin Sketch', cursive;
    color: #30426c;
}

.my-reservation{
    text-decoration: none;
    color: white;
}
.my-reservation:hover {
    text-decoration: none;
    color: #a2dde9;
}

.wc-text{
    font-family: 'Cabin Sketch', cursive;
    color:white; 
    font-size:10vh;
}
.wc-text:hover{
    text-shadow: 
        1px 0px 1px rgba(62, 152, 207, 0.3), 0px 1px 1px rgba(247, 247, 247, 0.5), 
        2px 1px 1px rgba(62, 152, 207, 0.3), 1px 2px 1px rgba(247, 247, 247, 0.5),
        3px 2px 1px rgba(62, 152, 207, 0.3), 2px 3px 1px rgba(247, 247, 247, 0.5),
        4px 3px 1px rgba(62, 152, 207, 0.3), 3px 4px 1px rgba(247, 247, 247, 0.5),
        5px 4px 1px rgba(62, 152, 207, 0.3), 4px 5px 1px rgba(247, 247, 247, 0.5),
        6px 5px 1px rgba(62, 152, 207, 0.3), 5px 6px 1px rgba(247, 247, 247, 0.5),
        7px 6px 1px rgba(62, 152, 207, 0.3);

}

body{
    background-size:cover;
    background-color: #55afc1;
}

.bg{
    /* background-color: rgb(225, 225, 225,.5); */
}

.beachbg{
    background-image: url("/static/images/beach/bg.jpg");
    background-size:cover;
}
.seabg{
    background-image: url("/static/images/beach/sea_bg.jpg");
    background-size:cover;
    background-attachment: fixed;
}

.btn-outline-info{
    color: #30426c;
    border-color:#30426c;
}

.btn-outline-info:hover{
    color: #dce2f0;
    border-color:#dce2f0;
    background-color: #30426c;
}

.btn-info{
    background-color: #30426c;
    border-color:#dce2f0;
    color: #dce2f0;
}

.btn-info:hover, .btn-info:active{
    color: #30426c;
    border-color:#30426c;
    background-color: white;
}

.page-bg{
    background-color: rgb(225, 225, 225,.7);
    padding: 15px;
    border-radius: 20px;
    border:white 1px solid
}


@media only screen and (max-width: 992px) {
    .beachbg {
        background-image: url("/static/images/beach/bg.jpg");
        background-size:initial;
    }
    .seabg{
        background-image: url("/static/images/beach/sea_bg.jpg");
        background-size:initial;
    }
    }